{% extends 'cotacoes/base.html' %}
{% block content %}
{% if titulo_list %}
<p>
  <center><h2>Títulos cadastrados</h2></center>
</p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Descrição</th>
      <th scope="col">Monitorar</th>
    </tr>
  </thead>
  <tbody>
    {% for titulo in titulo_list %}
    <tr>
      <td>
        <a href="{% url 'detalhaTitulo' titulo.id %}">{{ titulo.codigo }}</a>
      </td>
      <td>{{ titulo.descricao }}</td>
      <td>
        {% if titulo.possuiConfiguracao %}
        <a href="">
          <i
            class="bi bi-pencil-square"
            style="font-size: 1rem; color: cornflowerblue"
          ></i
        ></a>
        {% else %}
        <a href="{% url 'configuracao_new' titulo.id %}">
          <i
            class="bi bi-arrow-right-circle"
            style="font-size: 1rem; color: cornflowerblue"
          ></i
        ></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>Nenhum título cadastrado.</p>
{% endif %}
{% endblock %}
