{% extends 'cotacoes/base.html' %} {% block content %}
<p>
  <center><h2>Configurar limites para compra e venda</h2></center>
</p>
<h5>Título: {{titulo.codigo}} - {{ titulo.descricao }}</h5>
<form method="POST">
  {% csrf_token %} 
  {% for field in form %}
    <div class="form-group">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
  {% endfor %}
  <button type="submit" class="save btn btn-primary">Salvar</button>
</form>
{% endblock %}
