{% extends 'cotacoes/base.html' %}
{% block content %}

{% load crispy_forms_tags %}  

<div class="container">
  <p>
    <center><h2>Configurar limites para compra e venda</h2></center>
  </p>
  <form method="POST">
    {% csrf_token %} 
    
    <div id="div_id_titulo" class="form-group"> 
      <label for="id_titulo">Título</label> 
      <div class=""> 
        <span style="font-weight: bold;">{{ titulo.codigo }} - {{ titulo.descricao }}</span>
      </div>
    </div>
    <br />
    {{ form|crispy }}

    <div style="margin-top: 10px;">
      <button type="submit" class="save btn btn-primary">Salvar</button>
      <a href="{% url 'index' %}" class="btn btn-danger" class>Cancelar</a>
    </div>
    
  </form>
</div>
{% endblock %}
